.row{
    margin-bottom: 0;
}

#section1{
    margin-top: 10%;
    height: 400px;
}

.logo-cliente{
    height: 100px;
    width: 200px;
    margin-top: 10px;
    text-align: center;
}

#cabecera-clientes{
    text-align: center;
    letter-spacing: 5px;
}

#button-section2{
    margin-top: 50px;
    padding-bottom: 60px;
}

#section4{
    padding-bottom: 50px;
}

#section4 img {
    margin-top: 50px;
    border-radius: 10px;
}

#section4 .card-content .btn{
    margin-top: 30px;
    background-color: #4267b2;
}
