<div class="container">
  <div class="row" id="section1">
    <div class="col s12 m6 offset-m3">
        <div class="card horizontal z-depth-5">
          <div class="card-image">
            <img src="../../../assets/img/efka.png" style="margin-top: 10%;" alt="EFKA-MEXICO"></div>
          <div class="card-stacked">
            <div class="card-content">
                <h3 class="header">header</h3>
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
          </div>
        </div>
    </div>
  </div>  
</div>

<div class="row grey lighten-4" id="section2">
  <div class="container">
    <div class="row">
      
      <div class="col s12 m4">
        <h2 class="center blue-text text-darken-2">
            <i class="medium material-icons">build</i>
        </h2>
        <h5 class="center blue-text text-darken-2">Reparación</h5>
        <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi possimus vel facere, ullam repellat, doloremque, ad earum a autem incidunt eius maxime quis tenetur rem saepe laboriosam quaerat repudiandae?</p>
      </div>
      <div class="col s12 m4">
        <h2 class="center blue-text text-darken-2">
            <i class="medium material-icons">attach_money</i>
        </h2>
        <h5 class="center blue-text text-darken-2">Venta</h5>
        <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi possimus vel facere, ullam repellat, doloremque, ad earum a autem incidunt eius maxime quis tenetur rem saepe laboriosam quaerat repudiandae?</p>
      </div>
      <div class="col s12 m4">
        <h2 class="center blue-text text-darken-2">
            <i class="medium material-icons">call</i>
        </h2>
        <h5 class="center blue-text text-darken-2">Soporte</h5>
        <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi possimus vel facere, ullam repellat, doloremque, ad earum a autem incidunt eius maxime quis tenetur rem saepe laboriosam quaerat repudiandae?</p>
      </div>
    </div>
    <div class="row" id="button-section2">
      <div class="col s6 offset-s3 m5 offset-m5">
          <button [routerLink]="['/productos']"
                  class="waves-effect waves-light btn blue darken-2">
              <i class="material-icons right">arrow_forward</i>Productos
          </button>
      </div>
    </div>
  </div>
</div>


<div class="row grey lighten-3" id="section3">
  <div class="container">
    <div class="row">

      <div class="col m12 grey-text text-darken-3">
        <h3 id="cabecera-clientes" class="light">Algunos de nuestos clientes</h3>
      </div>
    </div>
    <div class="col s6 m6 l3">
      <img src="../../../assets/img/clients/intimark.png" class="logo-cliente">
    </div>
    <div class="col s6 m6 l3">
      <img src="../../../assets/img/clients/jhonson.png" class="logo-cliente">
    </div>
    <div class="col s6 m6 l3" style="text-align:center;">
        <img src="../../../assets/img/clients/TarsaIMP.png" height="140px">
    </div>
    <div class="col s6 m6 l3">
      <img src="../../../assets/img/clients/kaltex.png" class="logo-cliente">
    </div>
  </div>
</div>

<div class="row grey lighten-4" id="section4">
  <div class="col s12 m12 l10 offset-l1 xl4 offset-xl2">
    <img class="responsive-img" src="../../../assets/img/img1.jpg" alt="IMG1" width="900px" height="500px">
  </div>
  <div class="col s12 m12 l12 xl4 offset-xl1 blue-grey-text text-darken-3 center" style="margin-top:50px;">
    <div class="card z-depth-4">
      <div class="card-content">
        <span class="card-title">
          Titulo
        </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsam modi accusamus? Natus sed dolor autem, sint officiis hic ut architecto, nesciunt aliquam quae temporibus deleniti nisi quam dolorem veritatis.</p>
        <a class="waves-effect btn" href="https://www.facebook.com/efkadeMexico" target="_blank">Facebook</a>
      </div>
    </div>
    <div class="card z-depth-4">
        <div class="card-content">
          <span class="card-title">
            Titulo
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsam modi accusamus? Natus sed dolor autem, sint officiis hic ut architecto, nesciunt aliquam quae temporibus deleniti nisi quam dolorem veritatis.</p>
        </div>
      </div>
  </div>
</div>
 